---
import PageLagout from "@layouts/page.astro";
import { getPlayers } from "@models/player";
const players = await getPlayers();
---
<PageLagout>
	<ul>
		{players.map((player) => (
			<li><a href={`/players/${player.slug}`}>{player.name}</a></li>
		))}
	</ul>
</PageLagout>
