---
import { contentfulClient } from "../lib/contentful";
import type { EntryFieldTypes } from "contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";

interface Player {
	contentTypeId: "player",
	fields: {
		name: EntryFieldTypes.Text,
		graduationYear: EntryFieldTypes.Integer,
		bio: EntryFieldTypes.RichText,
	}
}

const players = await contentfulClient.getEntries<Player>({
	content_type: "player",
});
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Panthers Hall of Fame</title>
	</head>
	<body>
		<h1>Panthers Hall of Fame</h1>

		{players.items.map((player) => (
			<h2>{player.fields.name}</h2>
			<h3>{player.fields.graduationYear}</h3>
			<div set:html={documentToHtmlString(player.fields.bio)}></div>
		))}
	</body>
</html>
