---
import PageLagout from "@layouts/page.astro";
import HeadshotImage from "@components/headshot-image.astro";
import { getPlayers } from "@models/player";
const players = await getPlayers();
---
<PageLagout>
	<div class="flex gap-5">
		{players.map((player) => (
			<a href={`/players/${player.slug}`}>
				<HeadshotImage player={player} width="150" height="200" />
				{player.name}
			</a>
		))}
	</div>
</PageLagout>
