---
import { contentfulClient } from "../lib/contentful";
import type { EntryFieldTypes } from "contentful";

interface Player {
	contentTypeId: "player",
	fields: {
		name: EntryFieldTypes.Text,
	}
}

const players = await contentfulClient.getEntries<Player>({
	content_type: "player",
});
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Panthers Hall of Fame</title>
	</head>
	<body>
		<h1>Panthers Hall of Fame</h1>
		<ul>
			{players.items.map((player) => (
				<li>{player.fields.name}</li>
			))}
		</ul>
	</body>
</html>
