---
import { contentfulClient } from "../lib/contentful";
import type { Player } from '../lib/contentful';

const playerEntries = await contentfulClient.getEntries<Player>({
	content_type: "player",
});

const players = playerEntries.items.map((player) => {
	const { name, graduationYear, slug, bio } = player.fields;
	return {
		name,
		slug,
	};
});
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Panthers Hall of Fame</title>
	</head>
	<body>
		<h1>Panthers Hall of Fame</h1>

		<ul>
			{players.map((player) => (
				<li><a href={`/players/${player.slug}`}>{player.name}</a></li>
			))}
		</ul>
	</body>
</html>
