---
import { contentfulClient } from "../lib/contentful";
import type { EntryFieldTypes } from "contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";

interface Player {
	contentTypeId: "player",
	fields: {
		name: EntryFieldTypes.Text,
		graduationYear: EntryFieldTypes.Integer,
		bio: EntryFieldTypes.RichText,
	}
}

const playerEntries = await contentfulClient.getEntries<Player>({
	content_type: "player",
});

const players = playerEntries.items.map((player) => {
	const { name, graduationYear, bio } = player.fields;
	return {
		name,
		graduationYear,
		bio: documentToHtmlString(bio),
	};
});
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Panthers Hall of Fame</title>
	</head>
	<body>
		<h1>Panthers Hall of Fame</h1>

		{players.map((player) => (
			<h2>{player.name}</h2>
			<h3>{player.graduationYear}</h3>
			<div set:html={player.bio}></div>
		))}
	</body>
</html>
