---
import { getPlayers } from "../../models/player";

export async function getStaticPaths() {
    const players = await getPlayers();

    return players.map(player => ({
        params: { slug: player.slug },
        props: player,
    }));
}

const player = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{player.name} | Panthers Hall of Fame</title>
	</head>
	<body>
        <h1>{player.name}</h1>
        <h2>{player.graduationYear}</h2>
        <div set:html={player.bio}></div>
	</body>
</html>
