---
const { title } = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title &&  `${title} |`} Panthers Hall of Fame</title>
	</head>
	<body>
        <header class="p-5">
            <a href="/" class="text-xl">
                Panthers Hall of Fame
            </a>
        </header>

        <div class="p-10">
            <slot />
        </div>
	</body>
</html>
