---
const { title } = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title &&  `${title} |`} Panthers Hall of Fame</title>
	</head>
	<body>
        <header>
            <a href="/">Panthers Hall of Fame</a>
        </header>

        <slot />
	</body>
</html>
